// Shortcuts for standard codes
@mixin boxsizing ($box: border-box) {
		-webkit-box-sizing: $box;
		   -moz-box-sizing: $box;
				    box-sizing: $box;
}

@mixin user-select (){
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin opacity ($op){
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=${op})";
	filter: alpha(opacity=$op);
	opacity: $op/100;
}

@mixin gradient ($origin: left, $start: #fff, $stop: #000, $fallback: $start) {
    background: $fallback;
    background: -webkit-linear-gradient($origin, $start, $stop);
    background: -moz-linear-gradient($origin, $start, $stop);
    background: -o-linear-gradient($origin, $start, $stop);
    background: -ms-linear-gradient($origin, $start, $stop);
    background: linear-gradient($origin, $start, $stop);
}

@mixin quick-gradient ($origin: left, $alpha: 0.2) {
    background-image: -webkit-linear-gradient($origin, rgba(0,0,0,0.0), rgba(0,0,0,$alpha));
    background-image: -moz-linear-gradient($origin, rgba(0,0,0,0.0), rgba(0,0,0,$alpha));
    background-image: -o-linear-gradient($origin, rgba(0,0,0,0.0), rgba(0,0,0,$alpha));
    background-image: -ms-linear-gradient($origin, rgba(0,0,0,0.0), rgba(0,0,0,$alpha));
    background-image: linear-gradient($origin, rgba(0,0,0,0.0), rgba(0,0,0,$alpha));
}

@mixin font-size ($sizeValue) {
  $remValue: $sizeValue;
  $pxValue: $sizeValue * 10;
  font-size: ($pxValue)px;
  font-size: ($remValue)rem;
}

@mixin line-height ($sizeValue) {
  $remValue: $sizeValue;
  $pxValue: $sizeValue * 10;
  line-height: ($pxValue)px; 
  line-height: ($remValue)rem;
}

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  *zoom:1;
  
  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
}